<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ with resources.Get "style.css" -}}
    <link href="{{ .RelPermalink }}" rel="stylesheet" type="text/css" media="all">
    {{ end -}}
    <title>{{ block "title" . }}{{ end }}</title>
    {{ block "head" . }} {{ end -}}
  </head>
  <body class="bg-black font-serif text-white text-base/5 p-1">
    {{ partial "trace" (dict "page" . "tmpl" "layouts/pipeline/baseof.html") }}
    <header>
    <span class="absolute top-1 right-1 text-sm"><a href="/">Back to drhanson.net</a></span>
    </header>
    <main class="xl:w-2/4 mx-auto">
    {{ block "main" . }}
    {{ end -}}
    </main>
  </body>
</html>
