<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ partialCached "css.html" . -}}
    <title>{{ block "title" . }}{{ end }}</title>
    {{ block "head" . }} {{ end -}}
  </head>
  <body class="bg-black font-serif text-white text-base/5 p-1">
    <header class="w-full inline-flex ml-auto justify-end text-sm">
    <a href="/">Back to drhanson.net</a>
    </header>
    <main class="xl:w-2/4 mx-auto">
    {{ block "main" . }}
    {{ end -}}
    </main>
  </body>
</html>
