{{ define "main" }}
    {{ partial "trace" (dict "page" . "tmpl" "layouts/pipeline/single.html") }}
    <div class="grid grid-cols-[repeat(3,4rem)] justify-center items-end mt-3 small-caps">
    <span class="text-left">
    {{- with .PrevInSection -}}
        <a href="{{- .RelPermalink | path.Base -}}">Prev</a>
    {{- end -}}
    </span>
    <span class="text-center"><a href="/pipeline.html">Index</a></span>
    <span class="text-right">
    {{- with .NextInSection -}}
        <a href="{{- .RelPermalink | path.Base -}}">Next</a>
    {{- end -}}
    </span>
    </div>
    <h2 class="font-bold text-xl text-center my-4">{{ .Title }}</h2>
    <span class="flex justify-center">
        <img src="{{ path.Join "images" (.Path | path.BaseName) }}.jpg" alt></span>
    {{ .Content }}
{{ end }}
{{ define "title" }}
    {{- .Title -}}
{{ end }}
