{{ define "main" }}
    {{ partial "trace" (dict "page" . "tmpl" "layouts/pipeline/single.html") }}
    <div class="mt-4 grid grid-cols-[repeat(3,4rem)] justify-center justify-items-center">
    <span class="text-left">
    {{- with .PrevInSection -}}
        <a href="{{- .RelPermalink | path.Base -}}">{{- partial "back-arrow-40" }}</a>
    {{- end -}}
    </span>
    <span class="text-center"><a href="{{ relref . "/pipeline.html" }}">{{- partial "up-arrow-40" }}</a></span>
    <span class="text-right">
    {{- with .NextInSection -}}
        <a href="{{- .RelPermalink | path.Base -}}">{{- partial "forward-arrow-40" }}</a>
    {{- end -}}
    </span>
    </div>
    <h2 class="font-bold text-xl text-center my-4">{{ .Title }}</h2>
    <span class="flex justify-center">
        <img src="{{ path.Join "images" (.Path | path.BaseName) }}.jpg" alt></span>
    {{ .Content }}
{{ end }}
{{ define "title" }}
    {{- .Title -}}
{{ end }}
