<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ partialCached "css.html" . -}}
    <title>{{ block "title" . }}{{ end }}</title>
    {{ block "head" . }} {{ end -}}
  </head>
  <body class="bg-black font-serif text-white text-base/5 p-1">
    {{ partial "trace" (dict "page" . "tmpl" "layouts/baldy_chutes/baseof.html") }}
    <header class="w-full inline-grid gap-2 grid-cols-3 justify-around text-sm">
    <span></span> 
    <nav class="inline-flex gap-4 content-center justify-center items-end font-sans">
    {{- range (site.GetPage "/baldy_chutes.html").Pages.ByTitle }}
        <a href="{{ .RelPermalink }}">{{ .RelPermalink | path.BaseName }}</a>
    {{- end }}
    </nav>
    <span class="text-right"><a href="/">Back to drhanson.net</a></span>
    </header>
    <main class="xl:w-2/4 mx-auto">
    {{ block "main" . }}
    {{ end -}}
    </main>
  </body>
</html>
