<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ end }}</title>
    <link href="/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="style.css" rel="stylesheet" type="text/css" media="all">
    {{ block "head" . }} {{ end -}}
  </head>
  <body>
    {{ partial "trace" (dict "page" . "tmpl" "layouts/baldy_chutes/baseof.html") }}
    <header>
    <p class="back"><a href="/">Back to drhanson.net</a></p>
    <nav>
    {{- range (site.GetPage "/baldy_chutes.html").Pages.ByTitle }}
        <a href="{{ .RelPermalink }}">{{ .RelPermalink | path.BaseName }}</a>
    {{- end }}
    </nav>
    </header>
    <main>
    {{ block "main" . }}
    {{ end -}}
    </main>
  </body>
</html>