{{ define "main" }}
    {{ partial "trace" . }}
    <h2 class="font-bold text-xl text-center">{{ .Title }}</h2>
    <!-- The Modal -->
    <div id="modal" class="z-10 text-center hidden flex-col gap-y-3 content-center overflow-visible">
        <span id="modal-title" class="pt-4">Title</span>
        <span class="flex justify-center"><img id="modal-img" src="images/baldy.jpg"></span>
        <span class="cursor-pointer flex justify-center" onclick="hide()">{{ partial "close-40" }}</span>
    </div>
    <div id="pagebody">
    {{- .Content }}
    </div>
{{ end }}
{{ define "head" -}}
    <script>
    function show(src, title) {
        document.getElementById("modal-img").src = src;
        document.getElementById("modal-title").innerHTML = title;
        document.getElementById("modal").style.display = "flex";
        document.getElementById("pagebody").style.visibility = "hidden";
      }      
      function hide() {
        document.getElementById("modal").style.display = "none";
        document.getElementById("pagebody").style.visibility = "visible";
      }
    </script>
{{ end -}}
{{ define "title" }}
    {{- .Title -}}
{{ end }}
