.floatright { float: right; padding-left: 12px; }
.floatleft  { float: left; padding-right: 12px; }
.smallcaps { color: fuchsia; font-size: smaller; font-weight: bold; text-transform: uppercase }
.hanging  { text-align: left; text-indent: -2em; margin-left: 2em }
.back   { margin-top: 0px; font-size: smaller; text-align: right; position: absolute; z-index: 1; top: 2px; right: 4px }