<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ partialCached "css.html" . -}}
    <title>{{ block "title" . }}{{ end }}</title>
    {{ block "head" . }}
    {{ end }}
  </head>
  <body class="bg-yellow-50 font-serif text-base/5 p-1">
    {{ partial "trace" (dict "page" . "tmpl" "layouts/_default/baseof.html") }}
    {{ block "header" . }}
    {{ end  }}
    <main class="space-y-3">
    {{ block "main" . }}
    {{ end -}}
    </main>
  </body>
</html>
