@import "tailwindcss";
@source not "../public";

@theme {
    --breakpoint-xl: 1080px;
    --font-serif: "Times New Roman", Times, ui-serif, Georgia, Cambria, serif;
    --font-sans: ui-sans-serif, system-ui, "Arial", sans-serif;
}

@layer base {
    a {
        @apply text-[#778899];
    }
    hr {
        color: var(--color-black); /* #000 */
    }
    p {
        @apply my-3;
    }
    svg {
        @apply fill-white
    }
}