<!-- Call with
    (dict
        "imagefile"  full-size image in images/
        "resources"  page resources
        "size"  size of largest dimension )
-->
{{- $resources := .resources -}}
{{ $size := .size -}}
{{ $image := $resources.Get (printf "images/%s" .imagefile) -}}
{{ with $image -}}
    {{ if ge .Width .Height -}}
        {{ $image = .Resize (printf "%dx" $size) -}}
    {{ else -}}
        {{ $image = .Resize (printf "x%d" $size) -}}
    {{ end -}}
{{- end -}}
<img src="{{ $image.RelPermalink }}" alt="">