img  { border: none }
td   { font-size: smaller; background-position: center bottom;
       text-align: center; vertical-align: bottom }
.floatright { float: right; padding-left: 12px; }
.floatleft  { float: left; padding-right: 12px; }
.description  { width: 512px }
